.signup-main{
	padding:10px;
    font-family:"Poppins", sans-serif;
    font-weight:500;
    font-style:normal;
}
.signup-logo{
    display:flex;
    align-items:center;
}
.signup-green{
	text-decoration:none;
   font-size:18px;
   margin-left:2px;
   color:#20DC49;
}
.signup-nav{
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
}
.signup-inptex{
	border:1px solid #D9D9D9;
    border-radius:10px;
    padding: 4px;
    margin-bottom:40px;
    width:100%;
    font-size:14px;
    height:60px;
}
.signup-authButton-wrapper{
	display:flex;
	justify-content:center;
	margin-bottom: 30px;
   }

.signup-or-text{
    position:relative;
    margin: 40px 0;
}
   
.signup-authButton{
	   width:126px;
	   height:44px;
	   display:flex;
	   align-items:center;
	   justify-content:center;
	   background-color:#FFFFFF;
	   border:2px solid #DEDEDE;
	   border-radius:4px;
   }
   .signup-authButton:hover{
	   cursor:pointer;
	  
	   border:2px solid #20DC49;
	   margin-top:1px;
   }
.signup-Header{
    text-align:center;
    font-weight:400;
}
input[type="radio"]{
	cursor: pointer;
}
.signup-body{
    display:flex;
   
    justify-content:center;
}
.signup-signupbtn{
    width:100%;
    border-radius:8px;
    border:1px solid white;
    margin-top:20px;
	color:white;
    cursor:pointer;
    background-color:#20DC49;
    height:45px;
    font-family:"Poppins";
    font-weight:300;
    font-size:18px;
    font-style:normal;
}